.App {
  text-align: center;
  margin: 2vh auto;
  width: 100%;
  max-width: 600px;
  border-radius: 16px;
  color: #FFFFFF;
  min-height: 94vh;
  background: #3B185F;
  grid-template-rows: 7em auto 4em;
  padding: 10px 20px;
}

@media screen and (max-width: 630px){
  .App {
    width: 90%;
  }
}

input {
  color: black;
}
